.wrap{
	height: 100vh;
	.btn{
		position: relative;
		top: 50%;
		left: 50%;
		transform:translate(-50%);
		border:none;
		outline: none;
		width: 200px;
		height: 50px;
		background-color: #1D8CE0;
		border-radius:14px;
		color:#fff;
		cursor: pointer;
		&:hover{
			background-color: #20A0FF;
		}
	}
	img{
		position: absolute;
	}
}

.tips{
	display: inline-block;
	position: absolute;
	width: 500px;
	padding: 50px;
	margin:auto;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #fff;
	h1{
		margin-bottom: 20px;
	}
	ul{
		padding: 8px;
		font-size: 20px;
		background-color: #f6f8fa;
		li{
			margin-bottom: 16px;
			&:nth-of-type(n+2){
				list-style-type: circle;
				color:green;
				margin-left: 2em;
			}
		}
	}
	.close{
		position: absolute;
		right: 50px;
		top: 50px;
		font-size: 30px;
		color:red;
		cursor: pointer;
	}
}